body{
    font-family: sans-serif;
}
#quiz{
    margin-left: 10px;
    background: #d3def2;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    float: left;
}
input{
    margin-bottom: 20px;
}
#textbox{
    height: 25px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}
#button{
    background: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition-duration:.5s ;
    margin-top: 15px;
}
#button:hover{
    background: white;
    border: 1px green;
    color: black;
    cursor: pointer;
}
